* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    font-family: Lato, sans-serif;
}

.top {
    margin: 0 auto;      
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    background: #222222;    
}
.header_block {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 26px;
    align-items: center;
    box-sizing: border-box;
}
.header_block_item {
    padding-left: 33px;
}
.cartIconWrap {
    position: relative;
}
.cartIconWrap span {
    display: inline-block;
    width: 19px;
    height: 19px;
    color: white;
    background: #F16D7F;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    right: -9px;
    top: -19px;
    font-size: 12px;
    line-height: 19px;    
}
.brand {
    position: relative;
}
.brandInsideWrap {
    display: flex;
    position: relative;
    min-height: inherit;
}
.brandInsideWrap > div {
    width: 50%;
}
.brand_block {     
    display: flex;
    justify-content: left;
    padding-left: 60px;
    align-items: center;
    background-color: #F1E4E6;
}
.brand_image img{
    display: block;
    width: 100%;
}
.brandDark {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top:0;
    left: 0;
}
.menu {
    width: 232px;
    height: inherit;
    background: white;
    margin-left: auto;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 37px 24px;
    box-sizing: border-box;
    position: relative;
}
.menuClose {
    position: absolute;
    top: 16px;
    right: 16px;
}
.menuTitle {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 16px;
}
.menuHeader {
    font-size: 14px;
    line-height: 33px;
    color: #F16D7F;  
}
.menuUnit a {
    display: block;
    font-size: 14px;
    line-height: 33px;
    color: #6F6E6E;
    text-decoration: none;
    margin-left: 21px;
}

.heading {
    border-left: solid 12px #F16D7F;
    padding-left: 16px;
    color: #222222;    
}

.heading div:first-child  {
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;    
}   
.heading div:last-child {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    margin-top: 21px;
}
.heading span {
    color:#F16D7F;
}
.blocks {
    display: grid;
    grid-gap: 30px;
    padding-top: 65px;
    grid-template-columns: minmax(232px, 360px) minmax(232px, 360px) minmax(232px, 360px);
    grid-template-areas:
        "blocks_item_women blocks_item_men blocks_item_kids"
        "blocks_item_last blocks_item_last blocks_item_last";
    grid-template-rows: minmax(168px, 260px) minmax(116px, 180px);
    justify-content: center;
}

.blocks_item_women {
    position: relative;
    background-repeat: no-repeat;
    background-image: url(img/women.png);
    background-position: center;
}
.blocks_women {
    position: absolute;
    top: 105px;
    left: 103px;
    text-align: center;
    
}
.blocks_heading {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 19px;
}
.blocks_item_men{
    position: relative;
    background-repeat: no-repeat;
    background-image: url(img/men.png);
    background-position: center;
}
.blocks_men {
    position: absolute;
    top: 105px;
    left: 125px;
    text-align: center;
}
.blocks_item_kids {
    position: relative;
    background-repeat: no-repeat;
    background-image: url(img/kids.png);
    background-position: center;  
}
.blocks_kids {
    position: absolute;
    top: 105px;
    left: 123px;
    text-align: center;
}

.blocks_item_last {    
    grid-area: blocks_item_last;
    position: relative;  
    background-repeat: no-repeat;
    background-image: url(img/accesories.png);
    background-position: center; 
}
.blocks_accesories {
    position: absolute;
    top: 65px;
    left: 490px;
    text-align: center;
    width: 180px;
}

.blocks_text {
    font-size: 24px;
    line-height: 29px;
    color:#F16D7F;
    font-weight: 300;
}
.fetured {
    padding-top: 96px;
    text-align: center;
}
.heading_fetured {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.heading_mini {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.cards_block {
    display:grid;
    grid-gap: 30px;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 581px 581px 581px;
    justify-content: center;
    padding-top: 48px;
}
.card_heading {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-top: 25px;
    padding-left: 18px;
}
.card_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-left: 18px;
    padding-top: 12.5px;
}
.card {
    background-color: #F8F8F8;
    display: block;
}
.card img {
    display: block;
    width: 100%;
}
.card_price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 20px;
}
.products_button {
    text-align: center;
    padding-top: 48.5px;
}
.button {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
}
.benefits {
    background-color: #222224;
    margin: 0 auto;
}
.benefits_block {
    background-color: #222224;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-gap: 30px;
    justify-content: center;
    margin-top: 100px;
    padding-top: 103px;
    padding-bottom: 104px;
}
.benefits_item {
    text-align: center;
    
}
.benefits_heading {
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    padding-top: 28px;
    padding-bottom: 18px;
}
.benefits_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
}
.footer {
    margin: 0 auto;
    
}
.footer_landing {
    background: url(img/photo_subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
}
.feedback {    
    display: flex;
    justify-content: space-around;
    padding-top: 86px;
    padding-bottom: 126px;    
}
.feedback_block {
    text-align: center;
    width: 360px;
}

blockquote {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    padding-top: 50px;
}
.subscribe {
    padding-top: 64px;
    text-align: center;
}
.subscribe_heading {
    font-size: 24px;
    line-height: 40px;
    color: #222224;
}
.subscribe_text {
    font-size: 18px;
    line-height: 30px;
    color: #222224;
    padding-bottom: 32px;
}
.button_input {
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer_input {
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    width: 256px;
    height: 49px;
    background-color: #E1E1E1;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 22px;
    box-sizing:border-box;
}
.footer_button {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: #F16D7F;
    width: 100px;
    height: 49px;
    box-sizing: border-box;
    padding: 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.footer_copy_block {
    background-color: #222224;
    margin: 0 auto;
}
.footer_copy {
    background-color: #222224;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.copy {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
/* CATALOG */
.arrivals {    
    background-color: #F8F3F4;    
}
.arrivals_block {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.arrivals_heading {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}
.arrivals_menu {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    list-style-type: none;
}
.menu_list {
    padding-left: 5px;
}
.last_list {
    font-weight: 700;
    color: #F16D7F;
}
.filter_block {
    display: flex;
    justify-content: start;
    padding-top: 51px;
    padding-bottom: 65px;

}
.filter {
    display: flex;
    padding-right: 304px;
    padding-left: 20px;
}
.filter img {
    padding-left: 11px;
}
.filter h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.filter_list {
    display: flex;
    list-style-type: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
.filter_list_item {
    padding-right: 28px;
}
.filter_list_item img {
    padding-left: 10px;
}
.filter_big_icon {
    display: none;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    border: 1px solid #EBEBEB;
    margin: 0 auto;
    max-width: 283px;
    padding: 11.5px 15px 12.5px;
}
.page-item {
    padding-right: 17px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    
}
.page-link {
    text-decoration: none;
    color: #EBEBEB;
}
.pagination:last-child {
    padding-right: 0;
}
.pagination_block {
    padding-top: 48.5px;
}
.pink-link {
    color: #EF5B70;
}
.ellipsis,
.sixth-item {
    padding: 0;
}
.third_card {
    display: block;
}

/* Product */

.slide {
    margin: 0 auto;
    background: #F7F7F7;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 777px;
}
.dashicons_left,
.dashicons_right {
    background: rgba(42, 42, 42, 0.15);
}
.moschino {
    border: 1px solid #EAEAEA;
    text-align: center;
    padding-bottom: 65px;
    margin-top: -64px;
    background: white;
    z-index: 1;
    position: relative;
}
.high_heading {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    padding-top: 64px;
    padding-bottom: 12px;
}
.red_line {
    background: #EF5B70;
    width: 63px;
    height: 3px;
    margin: 0 auto;
}
.moschino_heading {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    padding-top: 12px;
    padding-bottom: 48px;
}
.moschino_paragraph {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5E5E5E;
    padding-bottom: 32px;
    max-width: 555px;
    margin: 0 auto;
}
.price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    padding-bottom: 65px;
    
}
.grey_line {
    background: #EAEAEA;
    width: 641px;
    height: 1px;
    margin: 0 auto;
}
.moschino_list {
    display: flex;
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 49px;
    list-style-type: none;
}
.moschino_list_item {
    padding-right: 9px;
    padding-left: 23px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
.moschino_button {
    border: 1px solid #FF6A6A;
    width: 210px;
    height: 47px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moschino_button_text {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    
}
.moschino_button img {
    padding-right: 23px;
}
.products_block {
    padding-top: 129px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 581px;
    grid-gap: 30px;
    padding-bottom: 128px;
    justify-content: center;
}



@media (max-width: 1024px) {
    .header_block {
        padding-right: 32px;
        padding-left: 32px;
    }
    .brandDark {
        display: none;
        
    }
    .heading {
        height: 92px;
    }
    .heading div:first-child  {
        font-size: 44px;
        line-height: 33px;
    }
    .heading div:last-child {
        font-size: 24px;
        line-height: 29px;
        margin-top: 25px;
    }
    
    .blocks {
        grid-template-columns: 232px 232px 232px;
        grid-template-rows: 168px 116px;
        grid-gap: 20px;
    }
    .benefits_block {
        grid-template-columns: 1fr;
        padding: 48px 204px 64px 204px;
        grid-gap: 47px;
    }
    .feedback {
        flex-direction: column;
        padding: 64px 204px 140px;
    }
    .feedback_block {
        width: 100%;
    }
    .footer_copy {
        justify-content: space-between;
        padding-left: 32px;
        padding-right: 32px;
    }
    .arrivals_block {
        padding: 60px 16px;
    }
    .filter_block {
        justify-content: space-between;
        padding-right: 12px;
    }
    .filter {
        padding-left: 16px;
    }
    .filter_list_item {
        padding-right: 0;
        padding-left: 15px;
    }    
    .cards_block {
        grid-gap: 16px;
        grid-template-columns: 360px 360px;
        grid-template-rows: repeat(4, 580px);
    }
    .third_card {
        display: none;
    }
    .slide {
        min-height: 624px;
    }
    .slide img {
        width: 61%;
    }
    .moschino {
        margin-top: 0;
    }
    .products_block {
        grid-template-columns: 360px 360px;
        grid-template-rows: 581px;
        grid-gap: 16px;
    }
    .card_right {
        display: none;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
}

@media (max-width: 661px) {
    .header {
        height: 74px;
    }
    .header_block {
        padding: 18px 16px;
    }
    .cartIconWrap,
    .userIcon {
        display: none;
    }
    .brandInsideWrap {
        min-height: 363px;
        display: block;        
    }
    .brand_block {
        background-color: #F1E4E6;
        min-height: inherit;
        padding: 0;
        justify-content: center;
    }
    .brand_image {
        display: none;
    }
    .heading {
        height: 61px;
    }
    .heading div:first-child {
        font-weight: 900;
        font-size: 38px;
        line-height: 28px;
    }
    .heading div:last-child {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-top: 14px;
    }
    .brandInsideWrap > div {
        width: 100%;
    }
    .benefits_block {
        grid-template-columns: 1fr;
        padding: 48px 13px 81px 14px;
        grid-gap: 47px;
    }
    .feedback {
        flex-direction: column;
        padding: 54px 8px 110px 8px;
    }
    .subscribe {
        padding-top: 54px;
    }
    .blockquote {
        font-size: 18px;
        line-height: 22px;
    }
    .feedback_block {
        width: 100%;
    }
    .footer_copy {
        flex-direction: column-reverse;
        padding-bottom: 9px;
        padding-top: 43px;
    }
    .copy {
        padding-top: 40px;
    }
    .brandDark {
        display: none;
    }
    .arrivals_block {
        flex-direction: column;
        text-align: center;
        padding-top: 24px;
        padding-bottom: 46px;
    }
    .arrivals_menu {
        padding-top: 32px;
    }
    .filter_block {
        justify-content: space-between;
        padding: 24px 8px 32px;
        text-align: center;
    }
    .filter {
        display: none;
    }
    .filter_big_icon {
        display: block;
    }
    .filter_list {
        font-size: 12px;
        line-height: 18px;
    }
    .filter_list_item {
        padding-right: 0;
        padding-left: 15px;
    }
    .filter_list_item img {
        padding-left: 5px;
    }
    .cards_block {
        grid-gap: 16px;
        grid-template-columns: 360px;
        grid-template-rows: repeat(8, 580px);
    }
    .third_card {
        display: none;
    }
    .products_block {
        display: grid;
        grid-template-columns: 360px;
        grid-template-rows: 581px 581px;
        grid-gap: 1px;
        padding: 64px 8px;
    }
    .grey_line {
        max-width: 175px;
    }
    .slide {
        min-height: 624px;
    }
    .slide img {
        width: 100%;
    }
    .dashicons_left {
        position: absolute;
    }
    .dashicons_right {
        position: absolute;
        right: 0px;
    }
    .moschino {
        margin-top: 0px;
    }
    .moschino_heading {
        padding-bottom: 31px;
    }
    .moschino_paragraph {
        max-width: 326px;
    }
    .price {
        padding-bottom: 32px;
    }
    .moschino_list {
        padding-top: 49px;
        padding-bottom: 64px;
    }
    .moschino_list_item {
        font-size: 10px;
        line-height: 21px;
    }
    .upper_item {
        padding-left: 0px;
    }
    .card_center {
        display: none;
    }
    .card_right {
        display: block;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}
